
# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
backend/dist
backend/node_modules
coverage

# Environment (contains sensitive data)
.env

# Files not required for production
.editorconfig
backend/Dockerfile
backend/Dockerfile.*
README.md
backend/tslint.json
nodemon.json